.profile {
  width: 100vw;
  height: 100vh;
}

.profile_layout {
  position: relative;
}

.profile_container {
  position: absolute;
  display: flex;
  width: 85vw;
  height: 80vh;
  bottom: 0;
}

.profile_img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 500px;
  opacity: 0;
  transform: translateY(50%);
  background: url(../../image/profile/me.png) no-repeat left bottom;
  background-size: contain;
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 1s;
}

.profile_text-box {
  position: absolute;
  right: 0;
  width: 30vw;
  opacity: 0;
  transform: translateY(50%);
  animation: fadeIn 0.8s ease-in-out forwards;
  animation-delay: 1.5s;
}
@keyframes fadeIn {
  from {
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile_text-box p {
  margin-bottom: 4vh;
}
.profile_job {
  font-size: 70px;
  font-weight: 300;
}

.profile_name {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.profile_story {
  font-weight: 300;
}

/*휴대폰 세로*/
@media screen and (min-width: 0px) and (max-width: 479px) {
  .profile {
    overflow-y: scroll;
  }

  .profile_container {
    flex-direction: column;
    padding: 10vh 0;
  }

  .profile_text-box {
    position: relative;
  }

  .profile_img {
    position: relative;
    width: 100vw;
    margin-bottom: 4vh;
  }
  .profile_text-box {
    width: 90vw;
    padding: 3vw;
  }
  .profile_text-box p {
    margin-bottom: 2vh;
  }

  .profile_job {
    font-size: 30px;
  }

  .profile_name {
    font-size: 14px;
  }

  .profile_story {
    font-size: 12px;
  }
}

/*휴대폰 가로*/
@media screen and (min-width: 480px) and (max-width: 767px) {
}
/*태블릿*/
@media screen and (min-width: 768px) and (max-width: 799px) {
}
/*일반모니터*/
@media screen and (min-width: 800px) and (max-width: 1023px) {
}
/*노트북*/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
}
/*가로가 긴 모니터*/
@media screen and (min-width: 1366px) and (max-width: 1915px) {
}
