.work {
  overflow: scroll;
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: -100vh;
  transition: all 0.5s ease-in-out;
}

.work.workAni {
  bottom: 0;
}

.work .layout {
  padding: 40vh 2vw;
}

.work_page01 {
  background-color: #3f98d3;
}

.work_page02 {
  background-color: #f9d64d;
}

.work_page03 {
  background-color: #fff;
}

.work_page04 {
  background-color: #fff;
}

.work_contents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 0;
}

.work_img {
  width: 50vw;
  height: 70vh;
}

.work_page01 .work_img {
  background: url(../../image/workList/work/work01.png) no-repeat center;
  background-size: contain;
}
.work_page02 .work_img {
  background: url(../../image/workList/work/work02.png) no-repeat center;
  background-size: contain;
}
.work_page03 .work_img {
  background: url(../../image/workList/work/work03.png) no-repeat center;
  background-size: contain;
}
.work_page04 .work_img {
  background: url(../../image/workList/work/work04.png) no-repeat center;
  background-size: contain;
}

.work_text-box {
  position: absolute;
  display: flex;
  width: 80vw;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.work_page01 .work_text-box {
  color: #fff;
}
.work_page02 .work_text-box {
  color: #000;
}
.work_page03 .work_text-box {
  color: #000;
}
.work_title {
  display: block;
  width: 40%;
  font-size: 50px;
  font-weight: 900;
}

.work_text-right {
  display: flex;
  width: 50%;
  line-height: 2;
  flex-direction: column;
  justify-content: space-between;
}

.work_desc {
  font-size: 16px;
  font-weight: 300;
}

.work_link {
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

.work_link:hover {
  font-weight: 700;
}

/*휴대폰 세로*/
@media screen and (min-width: 0px) and (max-width: 479px) {
  .work .layout {
    padding: 10vh 0;
  }

  .work_contents {
    padding: 0;
  }

  .work_img {
    width: 80vw;
    margin-bottom: 30vh;
  }

  .work_text-box {
    flex-direction: column;
  }

  .work_title {
    width: 100vw;
    font-size: 30px;
    margin-bottom: 5vh;
  }
  .work_text-right {
    width: 100%;
  }
  .work_desc {
    font-size: 12px;
    margin-bottom: 5vh;
  }

  footer {
    width: 100vw;
  }
}
/*휴대폰 가로*/
@media screen and (min-width: 480px) and (max-width: 767px) {
}
/*태블릿*/
@media screen and (min-width: 768px) and (max-width: 799px) {
}
/*일반모니터*/
@media screen and (min-width: 800px) and (max-width: 1023px) {
}
/*노트북*/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
}
/*가로가 긴 모니터*/
@media screen and (min-width: 1366px) and (max-width: 1915px) {
}
