.work {
  overflow: scroll;
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: -100vh;
  transition: all 0.5s ease-in-out;
}

.work.workAni {
  bottom: 0;
}

.work .layout {
  padding: 40vh 2vw;
}

.work_page01 {
  background-color: #3f98d3;
}

.work_page02 {
  background-color: #f9d64d;
}

.work_page03 {
  background-color: #fff;
}

.work_page04 {
  background-color: #fff;
}

.work_contents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 0;
}

.work_img {
  width: 50vw;
  height: 80vh;
}

.work_page01 .work_img {
  background: url(../../image/workList/work/work01.png) no-repeat center;
  background-size: contain;
}
.work_page02 .work_img {
  background: url(../../image/workList/work/work02.png) no-repeat center;
  background-size: contain;
}
.work_page03 .work_img {
  background: url(../../image/workList/work/work03.png) no-repeat center;
  background-size: contain;
}
.work_page04 .work_img {
  background: url(../../image/workList/work/work04.png) no-repeat center;
  background-size: contain;
}

.work_text-box {
  position: absolute;
  display: flex;
  width: 96vw;
  left: 0;
  bottom: 0;
}
.work_page01 .work_text-box {
  color: #fff;
}
.work_page02 .work_text-box {
  color: #000;
}
.work_page03 .work_text-box {
  color: #000;
}
.work_title {
  display: block;
  width: 40%;
  font-size: 50px;
  font-weight: 900;
}

.work_text-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work_desc {
  font-size: 16px;
  font-weight: 300;
}

.work_link {
  font-size: 12px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

.work_link:hover {
  font-weight: 700;
}
