.header {
  position: fixed;
  display: flex;
  width: 50vw;
  margin: 8vh 3vw;
  flex-direction: column;
  z-index: 100;
}

.logo {
  width: 10vw;
  cursor: pointer;
}

.logo a {
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

.main-gnb {
  width: 20vw;
  margin-top: 6vh;
}
.main-gnb > li {
  display: inline-block;
  height: 6vh;
  margin-right: 3vw;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
}
.main-gnb > li:nth-child(2) {
  position: relative;
  margin-right: 0;
}

.main-gnb .hover:hover .main-gnb .hover a {
  background-color: brown;
}

.work-list {
  position: absolute;
  top: 30px;
  display: none;
  transition: all 0.4s ease-out;
}
.work-list.worklistAni {
  display: block;
}
.work-list li {
  margin-bottom: 8px;
}

.work-list a {
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.work-list a:hover {
  opacity: 0.3;
}

@media (max-width: 1023px) {
  .main-title {
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 14px;
  }
}

@media (max-width: 639px) {
  .main-gnb > li {
    display: block;
  }
}

.font_color {
  color: #000;
}

.bg_color {
  background-color: #f9d64d;
}
